.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*.highlightedActivity--bot {*/
/*  border-left-color: Red;*/
/*  border-left-style: solid;*/
/*  border-left-width: 5px;*/
/*  margin-left: 8px;*/
/*}*/


/*.highlightedActivity--user {*/
/*  border-right-color: Green;*/
/*  border-right-style: solid;*/
/*  border-right-width: 5px;*/
/*  margin-right: 8px;*/
/*}*/

.empwc #webchat .ac-adaptiveCard .ac-textBlock p {
  /* max-height: 200px; */
  overflow: visible;
}

.webchat--css-yzlte-111jw2m{
  color: transparent;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 1px;
}

.webchat--css-yzlte-70d0wd{
  color: #767676;
  font-family: 'Calibri','Helvetica Neue','Arial','sans-serif';
  font-size: 1.2rem;
  display: flex;
  margin-left: 10px;
}
